*.ps1
.venv
.venv2
*.spec
build
*.pyc
.vscode/settings.json
dist
ubuntu2/moondream-server-linux-cuda12-4-v1-0-1
v2/output/
ubuntu2/moondream-server
v2/.DS_Store
moondream-server-ubuntu-v1-0-1
.DS_Store
py_versions/
__pycache__
hidden/
output/
demo_vid/
