MoondreamCLI {
    background: $surface;
    color: $text;
}

/* Sidebar styling */
#sidebar {
    width: 20;
    height: 100%;
    background: $panel;
    padding: 1 0;
}

#infer_button {
    width:100%;
}

#logs_button {
    width:100%;
}

#setting_button {
    width:100%;
}

.bottom {
    align-vertical: bottom;
}

